<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Welcome to Lode</title>
</head>

<body>
<div align="right">
<a href="accessibility/index.html"><font face="Arial" size="5">Pagina accessibile</font></a>
</div>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="800" height="600" align="middle">
  <param name="movie" value="LODE.swf" />
  <param name="quality" value="high" />
  <param name="starttime" value="400" />
  <embed src="LODE.swf" width="800" height="600" align="middle" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" starttime="400"></embed>
</object>
<hr>
This video was produced with <a href="http://latemar.science.unitn.it/Lode">Lode4Mac</a>
</body>
</html>
