<HTML>
<HEAD>
<TITLE>Redirecting page...</TITLE>
</HEAD>
<BODY>
<script type="text/javascript">
if (location.protocol=="file:") location.href="files/indexoff.html";
if (location.protocol=="http:")  location.href="files/indexon.html";
</script>
<noscript>
JavaScript is disabled!<br/>
You have to proceed manually. Please select the case that describes your
situation:
<ul>
    <li> <a href="files/indexon.html">
    (click me if) you are accessing content on a web server</a></li>
    <li> <a href="files/indexoff.html">
    (click me if) the content is stored on your machine </a></li>
</ul>
</noscript>
</BODY>
</HTML>