html, body {

    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;

    background:#fff url(Img/bg.gif) repeat-y center;

    background-color: #FFFFFF;

    text-align: justify;
}
a {
    color : #777;
}
a:hover {
    color : #fff;
}

#error {

    text-align : center;

    width : 100%;

    margin : auto;

    top : 20px;

    position : relative;

    border-width: 0px;

    border-style: solid;

    border-color: #000000;

    background-color: #ff0022;

    color: #fefefe;
}

#navigation ul
{
    display: inline;

    list-style: none;

    margin: 4px;

    padding: 0;

}

#navigation ul li
{
    display: inline;
}

#navigation li a
{
    font-size: 15px;

    line-height: 16px;

    display: inline;

    padding-left: 10px;

    background-position:left;

    background-repeat:no-repeat;

    text-decoration: none;


}

li.selected a
{
    font-size: 10px;

    line-height: 16px;

    display: inline;

    padding-left: 10px;

    background-position:left;

    background-repeat:no-repeat;

    text-decoration: none;

    color: #0099cc;
}

#navigation li a:hover
{
    padding-left: 10px;

    background-position:left;

    background-repeat:no-repeat;

    color: #0099cc;

    text-decoration: underline;

}

#container {

    background-color: #ffffff;

    text-align : left;

    width : 1100px;

    height : 100%;

    margin : auto;

    top : 20px;

    position : relative;

    padding : 10px 10px 100px 10px;





}

#header{

    text-align : center;

    color : black;

    position : relative;

    margin : auto;

    width : 1100px;

    height : 60px;




}

#footer{

    text-align : center;

    color : black;

    position : absolute;

    bottom : 20px;

    width : 1100px;

    height : 50px;



}

#content {

    position : relative;

    top : 5px;

    left : 0;

    width : 1060px;

    padding : 20px 20px 20px 20px;





}


#infoTable
{
    border-collapse:collapse;

    width: 50%;

    margin : auto;

    background:#EFF4FB url(Img/bg_table.gif) repeat-x;

    border:1px solid #686868;

    color: #333;
}

#infoTable td
{
    padding:5px;
}


#table {
    border-collapse:collapse;

    width: 100%;

    margin : auto;

    background:#EFF4FB url(Img/bg_table.gif) repeat-x;

    border-left:1px solid #686868;

    border-right:1px solid #686868;

    font:2m/145% 'Trebuchet MS',helvetica,arial,verdana;

    color: #333;
}

#tableDownload
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

    font-size: 12px;

    margin : auto;

    width: 20%;

    text-align: center;

    border-collapse: collapse;

}


#table td, th {
    padding:5px;
}

#table caption {
    padding: 0 0 .5em 0;

    text-align: left;

    font-size: 1.4em;

    font-weight: bold;

    text-transform: uppercase;

    color: #333;

    background: transparent;
}


#table a {

    color:#950000;

    text-decoration:none;

}

#table a:link {}

#table a:visited {

    font-weight:normal;

    color:#666;

    text-decoration: line-through;

}

#table a:hover {

    border-bottom: 1px dashed #bbb;

}


#table thead th, tfoot th, tfoot td {

    text-align : center;

    background:#333 url(img/llsh.gif) repeat-x;

    color:#fff
}

#table tfoot td {
    text-align:right
}

#table tbody th, tbody td {

    border-bottom: dotted 1px #333;

}

#table tbody th {
    white-space: nowrap;
}

#table tbody th a {
    color:#333;
}

#table .odd {}

#table tbody tr:hover {
    background:#fafafa
}


#extraDiv1 {

    position:relative;

    left:50%;

    margin-left:-390px;

    background:url(Img/bottom.gif);

    width:781px;

    height:42px;

}
